---
layout: "wrapper"
permalink: /category/email-blast
---
<main>
    <section>
        <div class="custom-gray mb-4 mx-4">
            <h2 class="label-top-works text-center py-3">{{ page.title }}</h2>
            <div class="work-List work-lists js-TileFull">
                {% for post in site.categories['email-blast'] %}
                <article class="list-Card">
                    <a href="{{ site.baseurl }}{{ post.url }}" class="text-decoration-none">
                        <div class="list-Card_MainImage">
                            <img src="{{ site.imageurl }}{{ post.title | replace: ' ', '-' | downcase }}/thumbnails/thumbs.jpg"
                                class="w-100" alt="{{ post.title }}" />
                        </div>
                        <div class="list-Card_TextArea px-3 py-2">
                            <h2 class="list-Card_Title fs-6 fw-normal link-dark">{{ post.title }}</h2>
                            <small class="list-Card_Date link-secondary">{{ post.date | date: "%B %d, %Y "}}</small>
                        </div>
                    </a>
                </article>
                {% endfor %}
            </div>
        </div>
    </section>
</main>